.container {
	padding: 2em;
	width: 100%;
	min-height: 100%;

	.movie-card-title {
		text-align: center;
		padding: 15px;
	}

	.movie-img {
		height: 80%;
		object-fit: cover;
	}

	.movie-card {
		width: 300px;
		height: 500px;
		margin-bottom: 2em;
		display: flex;
  	flex-direction: column;
	}

	.mat-card-actions {
		text-align: center;
	}

	.mat-button {
		margin: 0;
		padding: 5px;
	}

	.mat-icon {
		padding: 5px
	}
}