<div class='user-favorites-container' fxLayout='row wrap' fxLayout.xs='column' fxLayoutGap='5%' fxLayoutAlign='center'>
  <mat-card 
  class='movie-card'
  *ngFor='let movie of favoriteMovies'
  fxFlex.lt-md='0 1 calc(33.3% - 32px)'
  fxFlex.lt-sm='0 1 calc(50% - 32px)'
  fxFlex.lt-xs='100%'
  fxFlexAlign='center'
  >
    <mat-card-title class='movie-card-title'>
      <h2>{{movie.Title}}</h2>
    </mat-card-title>
    <img mat-card-image src={{movie.ImagePath}} alt='movie-img' class='movie-img'/>
    <mat-card-actions>
      <button
        mat-button
        color='primary'
        (click)='openGenreDialog(
          movie.Genre.Name, 
          movie.Genre.Description
        )'
      >
        Genre
      </button>
      <button
        mat-button
        color='primary'
        (click)='openDirectorDialog(
          movie.Director.Name,
          movie.Director.Bio,
          movie.Director.Birth
        )'
      >
        Director
      </button>
      <button
        mat-button
        color='primary'
        (click)='openSynopsisDialog(
          movie.Title, 
          movie.Description
        )'
      >
        Synopsis
      </button>
      <button aria-label='favorite movie toggle' mat-button>
        <mat-icon *ngIf='toggleFavorite(movie._id)' (click)='deleteFavorite(movie._id)' color='primary'>
          favorite
        </mat-icon>
        <mat-icon *ngIf='!toggleFavorite(movie._id)' (click)='addFavorite(movie._id)' color='primary'>
          favorite_border
        </mat-icon>
      </button>
  </mat-card-actions>
  </mat-card>
</div>