.user-profile-wrapper {
	height: 40%;
	background-color: rgb(12, 22, 32);
	padding: 30px;
	display: flex;

	.mat-card {
		padding: 4em;
		border-radius: 20px;
		border: 1px solid rgb(224, 224, 224);
		box-shadow: 1px 1px 60px #e7e7e7;
		margin: auto;
		text-align: center;
		
		h2 {
			font-size: 30px;
		}
		
		.mat-card-content {
			font-size: 18px;
		}
	}
}